.App {
  text-align: center;
}
.articleCards {
  border: 1px solid #ba1f31;
  padding: 1em;
  animation: fadeIn 2s;
}
.buttons {
  animation: fadeIn 2s;
}
.singleArticle {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.articleTitle {
  font-family: "Playfair Display";
}

.articleInfo {
  font-family: sans-serif;
  font-weight: lighter;
}

.singleTitle {
  font-family: "Playfair Display";
}

.authorTopicDate {
  font-family: "Playfair Display";
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
  border-bottom: 1px solid;
  border-color: #ba1f31;
  color: #ba1f31;
}

.singleBody {
  font-family: "Playfair Display";
}

.singleVotes {
  font-family: "Playfair Display";
  text-align: left;
}

.commentsTitle {
  font-family: "Playfair Display";
  text-align: left;
}
.singleCommentsInfo {
  font-family: "Playfair Display";
  text-align: left;
  color: #ba1f31;
}
.singleComments {
  font-family: "Playfair Display";
  text-align: left;
  border-bottom: 1px solid #ba1f31;
}

.commentDate {
  text-align: left;
}

.loadingArticles {
  font-family: "Playfair Display";
  font-size: 1.5em;
}
