@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.subtitle {
  font-family: sans-serif;
  font-weight: lighter;
}
/* body {
  margin: 0;
  font-family: "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
